# Emacs backup and lock files
*~
#*#
.#*
*.swp

# Python bytecode and caches
__pycache__/
*.py[cod]
*$py.class

# macOS metadata
.DS_Store

# Virtual environment directories
.env/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
.virtual_documents/

# Logs and reports
*.log

# Distribution / packaging
build/
dist/
*.egg-info/

